<!DOCTYPE html>
<!-- Last Published: Mon Apr 15 2024 11:06:58 GMT+0000 (Coordinated Universal Time) -->
<html data-wf-domain="kenyalink-kenya.webflow.io" data-wf-page="65e567070caabe7e98b5fc78" data-wf-site="65d6415723bdfef70ba99832" lang="en">
  <head>
    <meta charset="utf-8" /><title>Visas</title><meta content="Visas" property="og:title" />
    <meta content="Visas" property="twitter:title" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="https://assets-global.website-files.com/65d6415723bdfef70ba99832/css/kenyalink-kenya.webflow.fff2bc1f9.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
      WebFont.load({ google: { families: ['Merriweather:300,300italic,400,400italic,700,700italic,900,900italic', 'Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic', 'Vollkorn:400,400italic,700,700italic', 'Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic', 'Inconsolata:400,700', 'PT Sans:400,400italic,700,700italic', 'Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic', 'Droid Sans:400,700', 'Exo:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic', 'Varela:400', 'PT Serif:400,400italic,700,700italic', 'Josefin Sans:regular'] } })
    </script>
    <script type="text/javascript">
      !(function (o, c) {
        var n = c.documentElement,
          t = ' w-mod-'
        ;(n.className += t + 'js'), ('ontouchstart' in o || (o.DocumentTouch && c instanceof DocumentTouch)) && (n.className += t + 'touch')
      })(window, document)
    </script>
    <link href="https://assets-global.website-files.com/65d6415723bdfef70ba99832/65f96ef9f8c1396cd5e19f69_favicon-32x32.png" rel="shortcut icon" type="image/x-icon" />
    <link href="https://assets-global.website-files.com/65d6415723bdfef70ba99832/65f96f5926d6c37534d5713b_256.png" rel="apple-touch-icon" />
    <!-- Keep this css code to improve the font quality -->
    <style>
      * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -o-font-smoothing: antialiased;
      }
    </style>
  </head>
  <body class="body-27">
    <div class="navbar-no-shadow-7">
      <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-no-shadow-container w-nav">
        <div class="container-regular"></div>
      </div>
      <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-logo-left-container-5 shadow-three w-nav">
        <div class="navbar-wrapper-5">
          <a href="#" class="navbar-brand-5 w-nav-brand">
            <div>
              <img src="https://assets-global.website-files.com/65d6415723bdfef70ba99832/65f157fa6c38f6b4bd10714b_main.svg" loading="lazy" width="150" alt="" />
            </div>
          </a><nav role="navigation" class="nav-menu-wrapper-5 w-nav-menu">
            <ul role="list" class="nav-menu-two-5 w-list-unstyled">
              <li>
                <a href="{% url 'home' %}" aria-current="page" class="nav-link-5 w--current">Home</a>
              </li>
              <li></li>
              <li>
                <div data-hover="true" data-delay="200" class="nav-dropdown-5 w-dropdown">
                  <div class="nav-dropdown-toggle-5 w-dropdown-toggle">
                    <div class="nav-dropdown-icon-5 w-icon-dropdown-toggle"></div>
                    <div>Services</div>
                  </div>
                  <nav class="nav-dropdown-list-5 shadow-three mobile-shadow-hide w-dropdown-list">
                    <a href="{% url 'permits' %}" class="nav-dropdown-link-5 w-dropdown-link">Permits</a><a href="{% url 'passes' %}" class="nav-dropdown-link-5 w-dropdown-link">Passes</a><a href="{% url 'visas' %}" class="nav-dropdown-link-5 w-dropdown-link">Visas</a><a href="{% url 'permanent-residency' %}" class="w-dropdown-link">Permanent Residency</a><a href="{% url 'citizenship' %}" class="dropdown-link-7 w-dropdown-link">Citizenship</a>
                  </nav>
                </div><a href="{% url 'about' %}" class="nav-link-5">About</a><a href="{% url 'contact' %}" class="nav-link-5">Contact</a>
              </li>
              <li></li>
              <li>
                <div class="nav-divider-5"></div>
              </li>
              <li>
                <a href="{% url 'faqs' %}" class="nav-link-accent-5"><strong>FAQs</strong></a>
              </li>
              <li class="mobile-margin-top-14"></li>
            </ul>
          </nav>
          <div class="menu-button-5 w-nav-button">
            <div class="icon-3 w-icon-nav-menu"></div>
          </div>
        </div>
        <div class="container-6"></div>
      </div><h1 class="heading-13">Visas</h1>
    </div>
    <section class="section-3">
      <div class="w-layout-blockcontainer w-container">
        <div class="efi-ft-08">
          <div class="efi-ft-08-container">
            <div class="w-layout-grid efi-ft-08-cell">
              <div id="w-node-_76e4c5db-8e6b-a0b9-827d-7b611a14e536-98b5fc78" class="efi-ft-08-feature">
                <div class="efi-ft-08-icon">
                  <img src="https://assets-global.website-files.com/65d6415723bdfef70ba99832/65e57942ee90ddba8e79642f_business.png" loading="lazy" width="58" sizes="35px" alt="" srcset="https://assets-global.website-files.com/65d6415723bdfef70ba99832/65e57942ee90ddba8e79642f_business-p-500.png 500w, https://assets-global.website-files.com/65d6415723bdfef70ba99832/65e57942ee90ddba8e79642f_business.png 512w" class="image-5" />
                </div>
                <div class="efi-ft-08-text">
                  <h4 class="efi-h4">Business Visa</h4><p class="efi-paragraph-5">
                    <strong class="bold-text-3">The Business Visa is for foreigners starting or investing in a business in Kenya. The applicant will need to comply with various statutory requirements and have a minimum investment amount in order to qualify for this visa.</strong>
                  </p>
                </div>
              </div>
              <div id="w-node-_76e4c5db-8e6b-a0b9-827d-7b611a14e53e-98b5fc78" class="efi-ft-08-feature">
                <div class="efi-ft-08-icon">
                  <img src="https://assets-global.website-files.com/65d6415723bdfef70ba99832/65e57a4c7b21a09535457b60_corparate.png" loading="lazy" width="200" alt="" class="image-5" />
                </div>
                <div class="efi-ft-08-text">
                  <h4 class="efi-h4">Corparate Visa</h4><p class="efi-paragraph-5">The Corporate Visa is for companies that are required to fill a large number of skilled positions for ongoing projects or commitments, where skills are not readily available in Kenya</p>
                </div>
              </div>
              <div id="w-node-_76e4c5db-8e6b-a0b9-827d-7b611a14e546-98b5fc78" class="efi-ft-08-feature">
                <div class="efi-ft-08-icon">
                  <img src="https://assets-global.website-files.com/65d6415723bdfef70ba99832/65e57a5d6a0318f406e27253_exchange.png" loading="lazy" width="200" alt="" class="image-5" />
                </div>
                <div class="efi-ft-08-text">
                  <h4 class="efi-h4">Exchange Visa</h4><p class="efi-paragraph-5">The Exchange Visa permits an applicant to participate in a program of cultural, economic or social exchange and, therefore, needs to adhere to conditions stated by the Kenyan government and the relevant institution.</p>
                </div>
              </div>
              <div id="w-node-_76e4c5db-8e6b-a0b9-827d-7b611a14e54e-98b5fc78" class="efi-ft-08-feature">
                <div class="efi-ft-08-icon">
                  <img src="https://assets-global.website-files.com/65d6415723bdfef70ba99832/65e57a6e210be27342bf77de_general%20work.png" loading="lazy" width="200" alt="" class="image-5" />
                </div>
                <div class="efi-ft-08-text">
                  <h4 class="efi-h4">General Work Visa</h4><p class="efi-paragraph-5">The General Work Visa requirements are specific. The applicant’s employer must be based in Kenya and after a diligent search; the employer must prove that the employee’s position cannot be performed by a Kenyan citizen or Permanent Resident.</p>
                </div>
              </div>
              <div id="w-node-_76e4c5db-8e6b-a0b9-827d-7b611a14e556-98b5fc78" class="efi-ft-08-feature">
                <div class="efi-ft-08-icon">
                  <img src="https://assets-global.website-files.com/65d6415723bdfef70ba99832/65e57a7c60d5099fc2cd0ae3_intercompany.png" loading="lazy" width="200" sizes="35px" alt="" srcset="https://assets-global.website-files.com/65d6415723bdfef70ba99832/65e57a7c60d5099fc2cd0ae3_intercompany-p-500.png 500w, https://assets-global.website-files.com/65d6415723bdfef70ba99832/65e57a7c60d5099fc2cd0ae3_intercompany.png 512w" class="image-5" />
                </div>
                <div class="efi-ft-08-text">
                  <h4 class="efi-h4">Intra-Company Transfer Work Visa</h4><p class="efi-paragraph-5">The Intra-Company Transfer Work Visa is designed for companies who have an affiliate or subsidiary business operations in Kenya, and need to transfer foreign staff to work for Kenya for a limited period of time.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer-light-3">
      <div class="container-8">
        <div class="footer-divider-two-4"></div>
      </div>
    </section>
    <div class="efi-ftr-3">
      <div class="efi-ftr-02-container-2">
        <div class="efi-ftr-02-footer-centre-2">
          <p class="efi-paragraph-light-2">
            <strong>KENYALINK FACILITATORS<br /></strong>‍<br /><em class="italic-text-4">LINKING KENYA TO THE WORLD</em>
          </p>
          <div class="efi-ftr-02-link-wrap-2">
            <a href="{% url 'visas' %}" class="efi-footer-link-white-2">VISAS</a><a href="{% url 'passes' %}" class="efi-footer-link-white-2">PASSES</a><a href="{% url 'permits' %}" class="efi-footer-link-white-2">PERMITS</a><a href="{% url 'citizenship' %}" class="efi-footer-link-white-2">CITIZENSHIP</a><a href="{% url 'permanent-residency' %}" class="efi-footer-link-white-2">PERMANENT RESIDENCY</a><a href="{% url 'faqs' %}" class="efi-footer-link-white-2">FAQs</a>
          </div>
          <div class="efi-ftr-02-footer-wrapper-2"></div>
        </div>
      </div>
    </div>
    <div class="html-embed w-embed w-script">
      <style>
        body {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
          margin: 0;
          font-family: 'Montserrat', sans-serif; /* Apply Montserrat font to the body */
        }
        
        #centered-content {
          text-align: center;
          padding: 20px;
        }
        
        #company-name {
          font-weight: 700; /* Apply bold style to the company name */
        }
      </style>

      <body>
        <!-- ... existing HTML ... -->

        <footer>
          <div id="centered-content">
            <div id="company-name">KENYALINK FACILITATORS</div>
            <div id="current-year"></div>
          </div>
        </footer>

        <!-- ... existing HTML ... -->

        <script>
          document.addEventListener('DOMContentLoaded', function () {
            // Get the current date
            const currentDate = new Date()
          
            // Get the current year
            const currentYear = currentDate.getFullYear()
          
            // Display company name and current year in the footer
            document.getElementById('current-year').innerText = `© ${currentYear} 
                          All rights reserved.`
          })
        </script>
      </body>
    </div>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=65d6415723bdfef70ba99832" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://assets-global.website-files.com/65d6415723bdfef70ba99832/js/webflow.885757891.js" type="text/javascript"></script>
    <script>
      $(document).ready(function() {$(".w-webflow-badge").removeClass("w-webflow-badge").empty(); });
    </script>
  </body>
</html>
